In [22]:
import pandas as pd

In [23]:
name = 'skhynix' # 파일 이름 변경
file_name = f'{name}.xlsx'

In [24]:
df1 = pd.read_excel(f'/content/drive/MyDrive/{file_name}',
                    sheet_name='Data_bs')
df2 = pd.read_excel(f'/content/drive/MyDrive/{file_name}',
                    sheet_name='Data_cis')
df3 = pd.read_excel(f'/content/drive/MyDrive/{file_name}',
                    sheet_name='Data_cf')

try:
    df4 = pd.read_excel(f'/content/drive/MyDrive/{file_name}',
                        sheet_name='Data_is')
except:
    pass

In [25]:
if df1.columns[-1].startswith('2009'):
    df1.drop(df1.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df1.columns[-1].startswith('2009'):
    df1.drop(df1.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df2.columns[-1].startswith('2009'):
    df2.drop(df2.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df2.columns[-1].startswith('2009'):
    df2.drop(df2.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df3.columns[-1].startswith('2009'):
    df3.drop(df3.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df3.columns[-1].startswith('2009'):
    df3.drop(df3.iloc[:, -1:-2:-1], axis=1, inplace=True)
try:
    if df4.columns[-1].startswith('2009'):
        df4.drop(df4.iloc[:, -1:-2:-1], axis=1, inplace=True)
    if df4.columns[-1].startswith('2009'):
        df4.drop(df4.iloc[:, -1:-2:-1], axis=1, inplace=True)
except:
    pass
df1.drop(df1.iloc[:, :2], axis=1, inplace=True)
df2.drop(df2.iloc[:, :2], axis=1, inplace=True)
df3.drop(df3.iloc[:, :2], axis=1, inplace=True)
try:
    df4.drop(df4.iloc[:, :2], axis=1, inplace=True)
except:
    pass

if 'Unnamed: 8' in df1.columns:    
    df1.drop(df1.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df1.columns:
    df1.drop(df1.iloc[:, 1:6], axis=1, inplace=True)
else:
    df1.drop(df1.iloc[:, 1:5], axis=1, inplace=True)

if 'Unnamed: 8' in df2.columns:    
    df2.drop(df2.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df2.columns:
    df2.drop(df2.iloc[:, 1:6], axis=1, inplace=True)
else:
    df2.drop(df2.iloc[:, 1:5], axis=1, inplace=True)

if 'Unnamed: 8' in df3.columns:
    df3.drop(df3.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df3.columns:
    df3.drop(df3.iloc[:, 1:6], axis=1, inplace=True)
else:
    df3.drop(df3.iloc[:, 1:5], axis=1, inplace=True)
try:
    if 'Unnamed: 8' in df4.columns:
        df4.drop(df4.iloc[:, 1:7], axis=1, inplace=True)
    elif 'Unnamed: 7' in df4.columns:
        df4.drop(df4.iloc[:, 1:6], axis=1, inplace=True)
    else:
        df4.drop(df4.iloc[:, 1:5], axis=1, inplace=True)
except:
    pass

In [26]:
df1.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)
df2.columns = df1.columns
df3.columns = df2.columns
try:
    df4.columns = df3.columns
except:
    pass
df1.set_index('자산종류', inplace=True)
df2.set_index('자산종류', inplace=True)
df3.set_index('자산종류', inplace=True)
try:
    df4.set_index('자산종류', inplace=True)   
except:
    pass

In [27]:
temp = pd.DataFrame(columns=df1.columns, index=[
                    '자산총계', '법인세비용', '영업이익(손실)', '유동자산', '유동부채', '부채총계', '자본총계', '영업수익'])



temp.loc['자산총계', :] = df1.loc['자산총계', :]
try:
    temp.loc['법인세비용', :] = df2.loc['법인세비용', :]
except:
    temp.loc['법인세비용', :] = df4.loc['법인세비용', :]
try:
    try:
        temp.loc['영업이익(손실)', :] = df2.loc['영업이익(손실)', :]
    except:
        temp.loc['영업이익(손실)', :] = df4.loc['영업이익(손실)', :]
except:
    temp.loc['영업이익(손실)', :] = df2.loc['영업이익', :]

temp.loc['유동자산', :] = df1.loc['유동자산', :]
temp.loc['유동부채', :] = df1.loc['유동부채', :]
temp.loc['부채총계', :] = df1.loc['부채총계', :]
temp.loc['자본총계', :] = df1.loc['자본총계', :]
try:
    temp.loc['당기순이익(손실)', :] = df2.loc['당기순이익(손실)', :]
except:
    temp.loc['당기순이익(손실)', :] = df2.loc['당기순이익', :]
try:
    try:
        temp.loc['영업수익', :] = df2.loc['영업수익', :]
    except:
        temp.loc['영업수익', :] = df2.loc['매출액', :]
except:
    temp.loc['영업수익', :] = df4.loc['수익(매출액)', :]
temp.sort_index(axis=1, inplace=True)
temp = temp.T
k = pd.to_datetime(temp.index)
temp

                    자산총계          법인세비용  ...            영업수익       당기순이익(손실)
20101231  17412117000000    68807000000  ...  12106090000000   2597575000000
20111231  17238148000000   101118000000  ...  10395811000000    -55971000000
20121231  18648693000000   -40506000000  ...  10162210000000   -158795000000
20131231  20797298000000   202068000000  ...  14165102000000   2872857000000
20141231  26883278000000   852501000000  ...  17125566000000   4195169000000
20151231  29677906000000   945526000000  ...  18797998000000   4323595000000
20161231  32216026000000   255971000000  ...  17197975000000   2960483000000
20171231  45418464000000  2797347000000  ...  30109434000000  10642219000000
20181231  63658335000000  5801046000000  ...  40445066000000  15539984000000
20191231  64789494000000   426335000000  ...  26990733000000   2016391000000

[10 rows x 9 columns]

In [28]:
temp.to_csv(f'/content/drive/MyDrive/{name}.csv')